<h1>Add Contact</h1>
<%= form_for [@user, @contact],url: user_contacts_path(@user.id), method: :post do |f| %>
  <%= render "shared/error_messages", :target => @contact %>
  <%= f.label :first_name %>
  <%= f.text_field :first_name %>
  <br/>  
  <%= f.label :last_name %>
  <%= f.text_field :last_name %>
  <br/>
  <%= f.label :age %>
  <%= f.text_field :age %>
  <br/>
  <%= f.label :gender %>
  <%= f.select(:gender, options_for_select([['M', 'M'], ['F','F']]))%>
  
  <br/>  
  <%= f.label :phone_number %>
  <%= f.text_field :phone_number %>
  <br/>  
  <%= f.label :email %>
  <%= f.text_field :email %>
  <br/>  
  <%= f.label :area %>
  <%= f.text_field :area %>
  <br/>
  <br/>
  <%= f.submit %>
  <%= link_to "Back", user_contacts_path(@user, @contact), class: "btn"%>
<%end%>
