<!DOCTYPE html>
<html>
<head>
  <title>UserContacts</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application","bootstrap"%>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="home" align="left" class="btn btn-link">
  <% if user_signed_in? %>
    <%= link_to "HOME" %>
  <% end %>
</div>

<div id="user_nav" align="right">
  <% if user_signed_in? %>
    Signed in as <%= current_user.email %>. Not you?
<%= link_to "Sign out", 
destroy_user_session_path, method: :delete%>
  <% else %>

  <% end %>
</div>

<%= yield %>

</body>
</html>
